<h2>
  <%= "#{@beer_club.name} #{@beer_club.city}"%>
</h2>

<p>
  Founded in <%= @beer_club.founded %>
</p>

<ul>
  <% @beer_club.members.each do |member| %>
    <li>
      <%= link_to member.username, member %>
    </li>
  <% end %>
</ul>
<% if current_user and not @beer_club.members.find_by id: current_user %>
    <%= form_for(@membership) do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit value:"join the club" %>
    <% end %>
<% end %>

<% if current_user and @beer_club.members.find_by id: current_user %>
  <%= form_for(@membership, method: "delete") do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value: "end the membership" %>
  <% end %>
<% end %>
<br>
<%= edit_and_destroy_buttons(@beer_club) %>