<p id="notice"><%= notice %></p>

<h1>
  <%= @user.username %>
</h1>

<p>
  has made <%= @user.ratings.count %> <%= "rating".pluralize(@user.ratings.count)  %>, average rating <%= @user.average_rating %>
</p>

<p>
  member of
  <% @user.beer_clubs.each do |beer_club| %>
      <%= link_to beer_club.name, beer_club %> </li>
  <% end %>
</p>

<h2>
  ratings
</h2>
<ul>
  <% @user.ratings.each do |rating| %>
      <li> <%= rating %> <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
  <% end %>
</ul>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
