<p id="notice"><%= notice %></p>

<h2>
  <%= @brewery.name %>
</h2>

<p>
  <i>Established in  <%= @brewery.year %></i>
</p>

<p>
  Number of beers <%= @brewery.beers.count %>
</p>

<ul>
  <% @brewery.beers.each do |beer| %>
      <li><%= link_to beer.name, beer %>
  <% end %>
</ul>

<p>
  <% if @brewery.ratings.empty? %>
      No beers rated!
  <% else %>
      Has <%= @brewery.ratings.count %> <%= "rating".pluralize(@brewery.ratings.count) %>, average rating <%= @brewery.average_rating %>
  <% end %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) if current_user %>
